<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Personel Girişi</title>
</head>
<body>
    <h1>Personel Girişi</h1>
    
    <form method="POST" action="{% url 'set_personel_session' %}">
        {% csrf_token %}
        
        <input type="text" name="personel_adi" placeholder="Adınız" required>
        
        <input type="hidden" name="sayim_emri_id" value="{{ sayim_emri_id }}">
        <input type="hidden" name="depo_kodu" value="{{ depo_kodu }}">
        
        <button type="submit">Giriş Yap</button>
    </form>

</body>
</html>